@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

  .hover\:font-underline:hover {
    text-decoration: underline;
  }

  @media (min-width: 260px) {
    .container {
      max-width: 260px;
    }

    .xm\:hidden {
      display: none;
    }
  }
  